.topbar {
  height: 80px;
  width: 100%;
  background-color: var(--l-m-elements);
  color: var(--l-m-text);
  box-shadow: var(--box-shadow);

  .container {
    padding: 0 6rem;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .theme_switch {
      cursor: pointer;
      border: none;
      font-size: 14px;
      width: 6rem;
      display: flex;
      align-items: center;
      color: var(--l-m-text);
      justify-content: space-between;
      background-color: var(--l-m-elements);

      .icon {
        transform: rotate(130deg);

        font-size: 20px;
      }
    }
  }
}
