.card {
  width: 16rem;
  height: 21rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin-left: 4.6rem;
  margin-bottom: 4.8rem;

  .card_top {
    height: 48%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card_bottom {
    height: 52%;
    padding: 1.5rem;
    font-size: 14px;

    h3 {
      margin-bottom: 1rem;
      font-size: 17px;
    }

    div {
      margin-bottom: 0.3rem;
    }

    span {
      font-weight: 600;
    }
  }
}
