.dark-theme {
  --l-m-background: var(--d-m-background);
  --l-m-text: var(--white);
  --l-m-elements: var(--d-m-elements);
  --white: hsl(0, 0%, 100%);
  --box-shadow: 0 0 10px -2px rgba(31, 31, 31, 0.9);
  --border-radius: 5px;
}

.App {
  color: var(--l-m-text);
  background-color: var(--l-m-background);
}
