:root {
  --l-m-background: hsl(0, 0%, 98%);
  --l-m-input: hsl(0, 0%, 52%);
  --l-m-text: hsl(200, 15%, 8%);
  --d-m-background: hsl(207, 26%, 17%);
  --d-m-elements: hsl(209, 23%, 22%);
  --white: hsl(0, 0%, 100%);
  --box-shadow: 0 0 10px -2px rgba(219, 219, 219, 0.9);
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--l-m-text);
  background-color: var(--l-m-background);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: var(--l-m-text);
  cursor: pointer;
}
